body {
    background-color: #00469B !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    align-items: center;
}

.header {
    display: flex;
    width: 1164px;
    height: 130px;
    background: #FFB901;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-left: 5px #2A2829 solid;
    border-top: 5px #2A2829 solid;
    border-right: 5px #2A2829 solid;
    flex-direction: column;
    margin-top: 50px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo-text {
    display: flex;
    color: #0C8657;
    text-shadow: -2px -2px 0 #2A2829, 2px -2px 0 #2A2829, -2px 2px 0 #2A2829, 2px 2px 0 #2A2829;
    font-size: 54.86px;
    font-family: Dokdo;
    font-weight: 400;
}

.fotoprofile{
    display: flex;
    margin-right: 30px;
}

.logo-image img {
    width: 62.30px;
    height: 62.30px;
    border-radius: 9999px;
}


.menu {
    display: flex;
    margin-left: 20px;
}

.menu-item {
    display: flex;
    color: #2A2829;
    font-size: 22.36px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-item a{
    text-decoration: none;
    color: #2A2829;
}

.menu-item a:hover{
    font-weight: 700;
}

.navbar{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.container2 {
    width: 1164px;
    height: 600px;
    position: relative;
    background: #FFFFEA;
    border-left: 5px #2A2829 solid;
    border-right: 5px #2A2829 solid;
    border-bottom: 5px #2A2829 solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.container2 form{
    width: 600px;
    padding-bottom: 60px; padding-right: 60px; padding-left: 40px; padding-top: 30px;
}

.form-control{
    font-size: 14px;
    background-color: #E4D9CA;
    border-color: #2A2829;
    border-width: 1px;
    padding: 5px;
    border-radius: 40px;
    transform: translateY(5px);
}

.form-control:focus {
    background-color: #FFFFEA;
}

.button1{
    width: 200px;
    background: #7B393C !important;
    border-color: #2A2829;
    border-width: 1px;
    color: #FFFFEA;
    transform: translateY(8px);
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px !important;
    margin-top: 10px;
    margin-left: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.7s;
}

.button1:hover{
    background: #2A2829!important;
    color: #FFFFEA;
}

.container3{
    display: flex;
    width: 500px;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    animation: animasicontainer1 0.5s ease 1 alternate forwards;
    animation-delay: 0.05s;
}

@keyframes animasicontainer1 {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}

@-webkit-keyframes animasicontainer1 {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.hero span {
    font-weight: bolder;
    font-size: 60px;
    font-family: Poppins;
    font-weight: 700;
}

.nohighlight{
    color: #2A2829;
    text-shadow: -0.75px -0.75px 0 #FFFFEA, 0.75px -0.75px 0 #FFFFEA, -0.75px 0.75px 0 #FFFFEA, 0.75px 0.75px 0 #FFFFEA;
}

.highlight{
    color: #0C8657;
    text-shadow: -1px -1px 0 #0C8657, 1px -1px 0 #0C8657, -1px 1px 0 #0C8657, 1px 1px 0 #0C8657;
}