body {
    background-color: #00469B !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container{
    align-items: center;
}

.header {
    display: flex;
    width: 1164px;
    height: 130px;
    background: #FFB901;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-left: 5px #2A2829 solid;
    border-top: 5px #2A2829 solid;
    border-right: 5px #2A2829 solid;
    flex-direction: column;
    margin-top: 50px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo-text {
    display: flex;
    color: #0C8657;
    text-shadow: -2px -2px 0 #2A2829, 2px -2px 0 #2A2829, -2px 2px 0 #2A2829, 2px 2px 0 #2A2829;
    font-size: 54.86px;
    font-family: Dokdo;
    font-weight: 400;
}

.fotoprofile{
    display: flex;
    margin-right: 30px;
}

.logo-image img {
    width: 62.30px;
    height: 62.30px;
    border-radius: 9999px;
}


.menu {
    display: flex;
    margin-left: 20px;
}

.menu-item {
    display: flex;
    color: #2A2829;
    font-size: 22.36px;
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-item a{
    text-decoration: none;
    color: #2A2829;
}

.menu-item a:hover{
    font-weight: 700;
}

.navbar{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.container2 {
    width: 1164px;
    min-height: 700px;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #FFFFEA;
    border-left: 5px #2A2829 solid;
    border-right: 5px #2A2829 solid;
    border-bottom: 5px #2A2829 solid;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.container4 form{
    margin-top: 30px;
    width: 600px;
    padding-bottom: 60px; padding-right: 60px; padding-left: 40px; padding-top: 30px;
}

.form-control{
    font-size: 14px;
    background-color: #E4D9CA;
    border-color: #2A2829;
    border-width: 1px;
    padding: 15px;
    border-radius: 40px;
    transform: translateY(5px);
}

.form-control:focus {
    background-color: #FFFFEA;
}

.button1{
    width: 200px;
    background: #7B393C !important;
    border-color: #2A2829;
    border-width: 1px;
    color: #FFFFEA;
    transform: translateY(8px);
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px !important;
    margin-top: 60px;
    margin-left: 140px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition-duration: 0.7s;
}

.button1 a{
    color: #FFFFEA;
    text-decoration: none;
}

.button1:hover{
    background: #2A2829!important;
    color: #FFFFEA;
}

.button1 a:hover{
    color: #FFFFEA;
}

.container4{
    display: flex;
    flex-direction: row;
}

.container3{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    overflow: hidden;
    animation: animasicontainer1 0.5s ease 1 alternate forwards;
    animation-delay: 0.05s;
}

.container3 form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
    height: 10px;
}

@keyframes animasicontainer1 {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}

@-webkit-keyframes animasicontainer1 {
    from {
        margin-top: 50px;
    }
    to {
        margin-top: 0px;
    }
}

.recipescontainer{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.recipes{
    color: #2A2829;
    font-weight: 500;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    align-items: center;
    height: 320px;
    width: 320px;
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: #FFFFEA;
    border: 1px #2A2829 solid;
    border-radius: 35px;
    transition-duration: 0.5s;
}

.recipes:hover{
    transform: translate(-10px, -10px);
    box-shadow: 7px 7px 0px #7B393C;
}

.foodname{
    font-size: 20px;
}

.recipespic{
    display: flex;
    height: 210px;
    width: 280px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #FFFFEA;
    border: 1px #2A2829 solid;
    border-radius: 30px;
}

.recipespic img {
    max-width: 100%; /* Atur lebar maksimum gambar sesuai dengan lebar container */
    object-fit: cover;
    border-radius: 29px;
}

.saverecipe{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100px;
}

.fa-bookmark{
    margin-right: 5px;
    font-size: 20px;
}

.button2{
    width: 200px;
    background: #7B393C !important;
    color: #FFFFEA;
    border: none;
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px !important;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    transition-duration: 0s;
}

.button2 a{
    color: #FFFFEA;
    text-decoration: none;
}

.button2:hover{
    background: #2A2829!important;
    color: #FFFFEA;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.button2:active {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}


.button2 a:hover{
    color: #FFFFEA;
}

.btn{
    background: #7B393C  !important;
    border-color: #2A2829;
    border-width: 1px;
    color: #FFFFEA;
    transform: translateY(8px);
    font-size: 15px;
    font-weight: 500;
    border-radius: 40px !important;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    transition-duration: 0.7s;
}

.btn:hover{
    background: #2A2829!important;
    color: #FFFFEA;
}

.container5{
    width: 100%;
}

.card{
    background: #FFFFEA;
    border-width: 0px;
}

.mt-5{
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}